.is-prime {
	color: #00E676;
}
.not-prime {
	color: #FF3D00;
}
.myForm {
	color: white;
}
.bar {
	width: 3%;
}
.but {
	color: white;
	background-color: black;
}
.myP {
	color: white;
}
.pledge {
	color: white;
	text-align: center;
	font-size: 9px;
}
.myH1 {
	color: white;
	text-align: center;
}
.myUl {
	list-style-type: circle;
}
body {
	background-color: black;
}