<!DOCTYPE html>
<html>
	<head lang="en">
	<meta charset="UTF-8">
	<title>Login Check</title>
	</head>
<body>
	<h1 class="myH1">Generic Login Page #519861854</h1>
	{{{body}}}
	<footer class="pledge">I pledge my honor I have abided by the Stevens Honor Code.     -James Leeson 10433450</footer>
</body>
</html>