{{!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search</title>
        <link rel="stylesheet" href="/css/calories.css">
        <script
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous">
		</script>
        <script src="/js/calCal.js"></script>
    </head>
    <body> --}}
		<script
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous">
		</script>
        <script src="/js/calCal.js"></script>
		<h1>Calorie Searcher</h1>
        <form id="calSearch">
            <label for="foodTerm">Search: <input type="text" id="foodTerm"></input></label>
            <button type="submit" for="calSearch">GO</button>
        </form>
        <div id="foodResults"> sup <p> boy </p> </div>
    {{!-- </body>
</html> --}}
