<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
<script src="/js/search.js"></script>
<form id="search">
    <label for="searchTerm">Search: <input type="text" id="searchTerm"></label>
    <button type="submit" form="search">GO</button>
</form>
<div id="results"></div>