
        <div class="">
            <h1>Workout Videos</h1>
            <div class="groups">
            <h2>Arms</h2>
            <ul>
                <li><a href='https://www.youtube.com/watch?v=j64BBgBGNIU'>Chloe Ting 10 Min Arms</a></li>
                <li><a href='https://www.youtube.com/watch?v=DHOPWvO3ZcI'>Pamela Reif 10 Min Upper Body</a></li>
                <li><a href='https://www.youtube.com/watch?v=0zhvUV1bAVQ'>MadFit 15 Min Upper Body</a></li>
            </ul>
            </div>
            <div class="groups">
            <h2>Legs</h2>
            <ul>
                <li><a href='https://www.youtube.com/watch?v=nG69wuXHwxg'>Pamela Reif 10 Min Legs</a></li>
                <li><a href='https://www.youtube.com/watch?v=9l5kjL2JedM'>MadFit 15 Min Legs</a></li>
                <li><a href='https://www.youtube.com/watch?v=htL4XYk20Mc'>Pamela Reif 30 Min Legs</a></li>
            </ul>
            </div>
            <div class="groups">
            <h2>Chest</h2>
            <ul>
                <li><a href='https://www.youtube.com/watch?v=a9vL6BsgkPg'>Chloe Ting 10 Min Chest</a></li>
                <li><a href='https://www.youtube.com/watch?v=qQAs6CKvirg'>Rowan Row 10 Min Chest</a></li>
                <li><a href='https://www.youtube.com/watch?v=dxZc2sjvHMo'>Keep Trainer 18 Min Chest</a></li>
            </ul>
            </div>
            <div class="groups">
            <h2>Back</h2>
            <ul>
                <li><a href='https://www.youtube.com/watch?v=JAuNs5FnAOU'>Pamela Reif 10 Min Back</a></li>
                <li><a href='https://www.youtube.com/watch?v=qqEw8XH-feI'>Chris Heria 10 Min Back</a></li>
                <li><a href='https://www.youtube.com/watch?v=1dJ-d7tVwEk'>MadFit 10 Min Back</a></li>
            </ul>
            </div>
            <div class="groups">
            <h2>Abs</h2>
            <ul>
                <li><a href='https://www.youtube.com/watch?v=1f8yoFFdkcY'>Pamela Reif 10 Min Abs</a></li>
                <li><a href='https://www.youtube.com/watch?v=svdPTfOpAyQ'>MadFit 10 Min Abs</a></li>
                <li><a href='https://www.youtube.com/watch?v=Oa-xdUN3x08'>MadFit 15 Min Abs</a></li>
            </ul>
            </div>
        </div>
