.formClick{
  margin: auto;
  width: 25%;
  border: 3px solid aqua;
  padding: 10px;
}

#errorMessage{
	color:red;
}

form{
	display:block;
}

input{
	width:100%;
	margin:1%;
}

#stats{
  margin: auto;
  width: 25%;
  padding: 10px;
  text-align:center;
  }