body{
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, rgb(12, 8, 66), rgb(4, 6, 109), rgb(9, 11, 155));
}

h1 {
    color: white;
    padding: 3px;
    background-color: rgb(12, 8, 66);
}
.dailyStats, .waterGoal {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    background-color: whitesmoke;
    padding: 3px;
    border-radius: 5px;
}
hr{
    border-top: rgb(12, 8, 66);
    border-style: solid;
}

.usernameH {
    font-size: 48px;
}

.form {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    background-color: whitesmoke;
    margin-left: 200px;
    margin-right: 200px;
    padding: 3px;
    border-radius: 5px;
}
 
label, input, button {
    grid-column: 1 / 2;
}

/***********
GRAPH STYLING
***********/
.button-div{
    display: flex;
    justify-content: center;
}
#graph-button{
    cursor: pointer;
    top: 5px;
    right: 5px;
    font-size: 0;
    border: 0;
    background-image: url('/img/graph.png'), linear-gradient(aqua, aquamarine);
    background-size: 100%;
    width: 50px;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#chart-div{
    text-align: center;
}

#chart{
    background-color: whitesmoke;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

#waterGoal{
	color:red;
}