body{
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, rgb(12, 8, 66), rgb(4, 6, 109), rgb(9, 11, 155));
}

h1 {
    color: white;
    margin: 2px;
}

.groups{
    display: flex;
    line-height: auto;
    width: inherit;
    justify-self: center;
    margin: 2px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(aqua, aquamarine);
    background-repeat: no-repeat;
}