body{
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, rgb(12, 8, 66), rgb(4, 6, 109), rgb(9, 11, 155));
}

#calSearch{
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: -10px;
}

#foodResults{
	background-color: whitesmoke;
    color: black;
    background-image: linear-gradient(aqua, aquamarine);
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    font-size: larger;
}