<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Water Boy</title>
    </head>
    <body>
        <h1>Error {{errorCode}}: {{errorMessage}}</h1>
    </body>
</html>