<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Water Boy</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <header>
    <div class="nav">
        <a href="/profiles">Profile</a>
        <a href="/healthlog">Healthlog</a>
        <a href="/search">Search</a>
        <a href="/workoutvideos">Workout Videos</a>
        <a href="/calories">Calorie Calculator</a>
        {{#if loggedIn}}
        <span>
            <a href="/logout">Logout</a>
        </span>
        {{/if}}
    </div>
    </header>
    <body>
        <h1>Error {{errorCode}}: {{errorMessage}}</h1>
    </body>
</html>